.page-strap-tag {
  margin-bottom: 0em;
}

.page-strap-tag-none {
  display: none
}

.page-strap-text {
  padding-top:1.3em;
}

.page-strap-cta {
  text-transform: uppercase;
  padding-top: 1.3em;
}

@media (max-width:991px) {
  .page-strap-container {
    padding-top: 0em;
    padding-bottom: 0em;
  }
  
  .page-strap-tag {

  }
  
  .page-strap-text {
    max-width:88vw;    
  }
  
  .page-strap-btn {
    font-size:2.0vw;
  }
}

@media (max-width:767px) {
  .page-strap-image-col {
    text-align-last: center;
    padding-bottom: 1em;
  }
  
  .page-strap-image {
    height: 215px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .strap-left {
    text-align: center;
  }
}


@media (max-width:575px) {
  .page-strap-container {

  }
  
  .page-strap-tag {

  }
  
  .page-strap-text {
    max-width:90vw;    
  }
  
  .page-strap-btn {
    font-size:3.1vw;
  }   
}

@media (max-width:334px) {
  .page-strap-text {

  }
  
  .page-strap-btn {
    font-size:3.9vw;

  }   
}
