.page-strap-tag {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-bottom: 0.7em;  
}

.page-strap-text {
  margin-left: auto;
  margin-right: auto;  
  text-align:center;
  margin-bottom:20px;
}

.page-strap-cta {
  color: #009DD1;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.page-strap-btn {
  background-color: #009DD1;
  color: #fff;
  border-radius:1.5em;
  font-size: 1.0em;
  letter-spacing: 0.1em;  
}

.strap-left {
  text-align:left;
}

.strap-pad-left{
  margin-left:0.5em;
}

@media (max-width:991px) {
  .page-strap-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  .page-strap-tag {
    margin-bottom: 2.0vw;    
  }
  
  .page-strap-text {
    max-width:88vw;    
  }
  
  .page-strap-btn {
    font-size:2.0vw;
  }
}

@media (max-width:767px) {
  .page-strap-image-col {
    text-align-last: center;
    padding-bottom: 1em;
  }
  
  .page-strap-image {
    height: 215px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .strap-left {
    text-align: center;
  }
}


@media (max-width:575px) {
  .page-strap-container {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  
  .page-strap-tag {
    margin-bottom: 2.9vw;    
  }
  
  .page-strap-text {
    max-width:90vw;    
  }
  
  .page-strap-btn {
    font-size:3.1vw;
  }   
}

@media (max-width:334px) {
  .page-strap-text {
    margin-bottom:2.0vw;
  }
  
  .page-strap-btn {
    font-size:3.9vw;
    margin-bottom:2.0vw;
  }   
}
