.page-strap-tag {
  color: #009DD1;
  margin-left: auto;
  margin-right: auto;
  font-family: "Avenir Next Bold";
  text-align:center;
  line-height: 1.3em;
  margin-bottom: 0.7em;  
  font-size: 2em;
}

.page-strap-text {
  margin-left: auto;
  margin-right: auto;  
  text-align:center;
  font-size: 1.5em;
}

.page-strap-cta {
  color: #009DD1;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.page-strap-cta-text {
  color: #009DD1;
  font-size: 1.3em;
}

.page-strap-cta-text:hover {
  color: #009DD1;
  text-decoration:underline;
}

@media (max-width:991px) {
  .page-strap-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  .page-strap-tag {
    line-height: 3.2vw;
    margin-bottom: 2.0vw;    
    font-size:2.7vw;
  }
  
  .page-strap-text {
    max-width:88vw;    
    font-size:2.2vw;
  }
  
  .page-strap-cta-text {
    font-size:2.2vw;
  }
}

@media (max-width:575px) {
  .page-strap-container {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  
  .page-strap-tag {
    line-height: 4.1vw;
    margin-bottom: 2.9vw;    
    font-size:3.7vw;
  }
  
  .page-strap-text {
    max-width:90vw;    
    font-size:3.3vw;
  }
  
  .page-strap-cta-text {
    font-size:3.3vw;
  }  
}