/* Header NavMenu component styles */

@media (min-width:576px) {
  .mobile-menu {
    display: none !important;
  }
}

.mobile-menu {
  padding: 0 0;
}

.mobile-menu-burger {
  width: 3.1em;
  height: 3.1em;
  background-color: #00A7E1 !important;
}

.mobile-menu-chop {
  width: 3.1em;
  height: 3.1em;
  background-color: #EFEFEF !important;
}

.btn-mobile-menu-burger {
  background-color: white;
  border:none;
  color:#959595;
  height: 1.4em;
  margin: auto;
}

.mobile-menu-group {
  width: calc(100vw - 3.1em);
  height: 3.1em;
}

.btn-mobile-menu {
  border: none;
  color: #959595;
  width: 16.6%;
  padding: 0 0;
  margin: auto;
}

.mobile-menu-icon {
  height: 1.4em;
  margin: auto;
  background-color: #959595;  
  margin-top: 0.5rem;
}

.mobile-menu-text {
  font-weight:900;
  font-size:2.2vw;
  text-transform:uppercase;
  line-height:1.5rem;
  padding-left:0.1rem;
  padding-right:0.1rem;
}

.mobile-menu-chop-icon {
  height: 1.8em;
  margin: auto;
  background-color: #959595;  
  margin-top: 0.2rem;
}

.two-line {
  margin-top: -0.45rem;
  line-height: 0.7rem;
}