/* Header NavMenu component styles */

@media (min-width:576px) {
  .mobile-menu {
    display: none !important;
  }
}

.mobile-menu {
  padding: 0 0;
  min-width:250px;
}

.mobile-menu-burger {
  width: 17%;
  height: 16.2vw;
  background-color: #00A7E1 !important;
}

.mobile-menu-chop {
  width: 17%;
  height: 16.2vw;
  background-color: #EFEFEF !important;
}

.btn-mobile-menu-burger {
  background-color: white;
  border:none;
  color:#959595;
  height: 8vw;
  margin: auto;
}

.mobile-menu-group {
  width: 66%;
  height: 16.2vw;
}

.btn-mobile-menu {
  border: none;
  color: #959595;
  width: 16.6%;
  padding: 0 0;
  margin: auto;
}

.mobile-menu-icon {
  height: 7vw;
  margin: auto;
  background-color: #959595;  
  margin-top: 0.5rem;
}

.mobile-menu-text {
  font-weight:900;
  font-size:2.2vw;
  text-transform:uppercase;
  line-height:1.5rem;
}

.mobile-menu-chop-icon {
  height: 8.5vw;
  margin: auto;
  background-color: #959595;  
  margin-top: 0.2rem;
}

.two-line {
  margin-top: -0.45rem;
  line-height: 0.7rem;
}