/* Header NavMenu component styles */

.nav-menu {
  padding-top: 0px;
  min-height: 48px;
  padding-bottom: 0px;
  background-color: #14a7e0;
}

.nav-search {
  margin-block-end:auto;
  padding-top: 8px;
  height: 48px;
}

.collapsed {
  margin-top: -17px !important;
}

.collapsing {
  transition:none !important;
}

.nav-menu-item {
  margin-left: -4px !important;
  margin-right: 5px !important;
  height: 40px;
  white-space: nowrap;
  background: #14a7e0;
  text-transform: uppercase;
  width: 21%;
}

.nav-menu-item:hover {
  background: #343a40;
  color: #14a7e0 !important;
}

@media (max-width:767px) {
  .nav-menu-item {
    background:none;
    width:104px;
    padding-left: 10px !important;
  }
  .toggle-adjust {
    margin-top: -3px;
  }
}

@media (min-width:992px){
  .nav-menu-item {
    width:100px;
    text-align:center;
  }
}
