.media-tile-section {
  margin-bottom: 0.6em;
}

.media-tile-image {
  width:58.4%;
  border-radius: 0.8em;
  box-shadow: 0px 3px 6px #00000029;
}

.media-tile-card {
  left: 58.4%;
  bottom: 83%;
  width: 41.6% !important;
  height: 230px;
  border-radius: 0 0.8em 0.8em 0;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: -23.2%;
}

.media-tile-title {
  color: #009DD1;
  font-family: "Avenir Next Bold";
  font-size: 1.3em;
  margin-top: -5px;
}

.media-tile-text {
  color: #464646;
  font-family: "Avenir Next Regular";
  font-size: 1em;
  margin-top: -7px;
  overflow:hidden;
  text-overflow: ellipsis;
  height: 96px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;      
}

.media-tile-author {
  margin-left: -1.25em;
  margin-right: -1.25em;
  border-radius: 0 0 0.8em 0;
  background: #F2ECEC;
}

.media-tile-author-image {
  height: 50px;
  width: 50px;
  margin-top: -18px;
  margin-bottom: -3px;
}

.media-tile-author-name {
  position: absolute;
  bottom: 20px;
  left: 80px;
}

.media-tile-date {
  position: absolute;
  left: 100px;
  bottom: 3px;
  font-size: 0.8em;
  color:#757575;
}

.media-tile-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #757575;
    left: 80px;
    bottom: 5px;
}

@media (max-width:1199px) {
  .media-tile-card {
    bottom: 88%;
    height: 200px;
    margin-bottom: -26.2%;
  }
  
  .media-tile-title {
    color: #009DD1;
    font-size: 1.1em;
    margin-top: -5px;
  }
  
  .media-tile-text {
    font-size: 1.0em;    
    height: 71px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;     
  }
}

@media (max-width:991px) {
  .media-tile-image {
    width:100%;
  }
    
  .media-tile-card {
    bottom: 0%;
    height: 183px;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 84% !important;
    border-radius: 0em 0em 0.8em 0.8em;    
  }
  
  .media-tile-title {
    color: #009DD1;
    font-size: 1.1em;
    margin-top: -5px;
  }
  
  .media-tile-text {
    font-size: 1.0em;    
    height: 75px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;     
  }
  
  .media-tile-author {
    border-radius: 0 0 0.8em 0.8em;
  }
}

@media (max-width:767px) {
  .media-tile-card {
    height: 171px;
  }
  
  .media-tile-text {
    font-size: 0.9em;
    height: 63px;
  }
  
  .media-tile-icon {
    bottom: 6px;
  }
}

@media (max-width:575px) {
  .media-tile-image {
    border-radius: 0.8em 0.8em 0em 0em;
  }
  
  .media-tile-title {
    font-size: 4vw;
  }
  
  .media-tile-card {
    width: 100% !important;
    height: inherit;
  }
  
  .media-tile-text {
    font-size: 3.7vw;
    height: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;   
  }
  
  .media-tile-author {
    margin-bottom:-20px;
    height: 45px;
  }
  
  .media-tile-author-image {
    height: 44px;
    width: 44px;
    margin-top: -25px;
  }
  
  .media-tile-author-name {
    position: absolute;
    bottom: 19px;
    left: 73px;
    font-size: 0.9em;
  }

  .media-tile-date {
    position: absolute;
    left: 93px;
    bottom: 5px;
    font-size: 0.7em;
  }

  .media-tile-icon {
    left: 73px;
  }
  
}