button {
 background-color: #24a7e1;
 color: white;
 border-radius: 20px;
 padding: 10px;
 border-style: none;
}

.photo-tab-row {
  margin: 50px;
}

.photo-tab-image {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-btn {
    margin: 0 10px;
}

.btn-text {
    font-family: "Avenir Next Demi";
    font-size: 1.13em;
    color: #ffffff;
    letter-spacing: 0.1em;
}


.photo-tab-tag {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-bottom: 0.7em;  
}

.photo-tab-text {
  margin-left: auto;
  margin-right: auto;  
  text-align:center;
  margin-bottom:20px;
}

.photo-tab-cta {
  color: #009DD1;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.photo-tab-btn {
  background-color: #009DD1;
  color: #fff;
  border-radius:1.5em;
  font-size: 1.0em;
  letter-spacing: 0.1em;  
}

.tab-left {
  text-align:left;
}


.tab-pad-left{
  margin-left:0.5em;
}

.photo-tab-h2 {
  font-family: "Avenir Next Bold";  
  color: #009DD1;
  font-size: 1.13em;
  margin-bottom: -13px;
}

@media (max-width:991px) {
  .photo-tab-container {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  .photo-tab-tag {
    margin-bottom: 2.0vw;    
  }
  
  .photo-tab-text {
    max-width:88vw;    
  }
  
  .photo-tab-btn {
    font-size:2.0vw;
  }
  
   /* tentative */
 .font-h1 {
    font-size: 1.6em;
}
  
.font-large {
    font-size: 1.1em;
}
  
  .btn-text {
    font-size: 0.8em;
}
  
  .blue-btn {
    margin: 0 10px;
}
    
  
}



@media (max-width:767px) {
  .photo-tab-image-col {
    text-align-last: center;
    padding-bottom: 1em;
  }
  
  .photo-tab-image {
    height: 215px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .tab-left {
    text-align: center;
  }
  
   
  
}




@media (max-width:575px) {
  .photo-tab-container {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  
  .photo-tab-tag {
    margin-bottom: 2.9vw;    
  }
  
  .photo-tab-text {
    max-width:90vw;    
  }
  
  .photo-tab-btn {
    font-size:3.1vw;
  }  
  
  .font-btn {
   margin-bottom: 2em;
  }
}

@media (max-width:334px) {
  .photo-tab-text {
    margin-bottom:2.0vw;
  }
  
  .photo-tab-btn {
    font-size:3.9vw;
    margin-bottom:2.0vw;
  }   
}

