.photo-tab-row {
  margin-left: 40px;
  margin-right: 40px;
}

.photo-tab-image-col {
  
}

.photo-tab-image {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-tab-body-col {
  display: block;
  margin-top:0;
}

.photo-tab-tag {
  display: block;
}

.photo-tab-text {
  display: block;  
  line-height: 1.3em;  
}

.photo-tab-cta {
  display: block;  
  color: #009DD1;
  text-transform: uppercase;
  margin-left:-34px;
}

@media (max-width:991px) {
  .photo-tab-left {
    margin-right: 65px;
    margin-left: -65px;
  }
  
  .photo-tab-image {
    width: 345px;
  } 

  .photo-tab-body-col {
    margin-top: -13px;
  }
  
  .photo-tab-tag {
    width: 345px;

  }
  
  .photo-tab-text {
    width: 345px;
  }
  
  .photo-tab-cta {
    width: 345px;
  }
}

@media (max-width:767px) { 
  .photo-tab-left {
    margin-right: auto;
    margin-left: auto;
  } 
  
  .photo-tab-image-col {
    text-align: center;
  }
  
  .photo-tab-body-col {
    margin-top: 20px;
  }
  
  .photo-tab-tag {
    margin-right: auto;
    margin-left: auto;    
  }
  
  .photo-tab-text {
    margin-right: auto;
    margin-left: auto;    
  }
  
  .photo-tab-cta {
    margin-left:-7px;
    margin-top:0px;    
  }
}

@media (max-width: 575px) {
  .photo-tab-left {

  }
  
  .photo-tab-image-col {
   
  }
  
  .photo-tab-image {
    margin-left:-10%;        
    width: 120%;
  }
  
  .photo-tab-tag {    
    margin-left:-10%;    
    width: 120%;
  }
  
  .photo-tab-text {
    margin-left:-10%;    
    width: 120%;
  }
  
  .photo-tab-cta {
    margin-left:-17.5%;    
    width: 130%;
  }
}



.photo-tab-h2 {
  font-family: "Avenir Next Bold";  
  color: #009DD1;
  font-size: 1.13em;
  margin-bottom: 5px;
  margin-top: 12px;
}
