.series-card-wrap {
  display: flex;
  flex-flow: wrap;
}

.series-card {
  width: 352px;
  border-width: 0px;
  margin: 20px 9px;
  border-radius: 1em;
  border-color:transparent;
  background-color:transparent;
  box-shadow: 0px 3px 6px #00000029;
}

.series-card:hover {
  border-color: #a4a4a4 !important;
  background-color: #a4a4a4;
  border-width: 3px;
  margin: 17px 6px;
  width: 358px;
  filter: brightness(0.8);
}

@media (max-width:1199px) { 
  .series-card {
    width: 440px;
    margin: 20px 12px;  
  }
  .series-card:hover {
    width: 446px;
    margin: 17px 9px;  
  }
}

@media (max-width:991px) { 
  .series-card {
    width: 664px;
    margin: 20px 13px;  
  }
  .series-card:hover {
    width: 670px;
    margin: 17px 10px;  
  }  
}

@media (max-width:767px) {
  .series-card {
    width: auto;
    margin: 20px 13px;  
  }
  .series-card:hover {
    width: auto;
    margin: 17px 10px;
  }
}

@media (max-width:575px) {
  .series-card {
    width: auto;
    margin: 20px 13px;  
  }
  
  .series-card:hover {
    width: auto;
    margin: 17px 10px;      
  }
}