/* Header TopBar component styles */

.topbar-dark {
  padding: 1.2rem 1.2rem;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));  
  z-index:10;
}

.topbar-light {
  padding: 1.2rem 1.2rem;
  background: white;
  z-index:10;
}

@media (max-width:575px) {
  .topbar-chop {
    display:none !important;
  }
  .topbar-menu {
    display:none !important;
  }
  .topbar-icon {
    display:none !important;
  }
  .topbar-brand {
    display:flex !important;
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0 0 !important;
    place-content: center;
  }
  .btn-topbar-brand {
    margin: 0 auto;
  }
}

.topbar-icon {
  max-width:2rem;
  min-width:2rem;
  margin-bottom:0.15rem;
  margin-left:0.3rem;
}

.topbar-icon-dark {
  background-color:white;
}


.topbar-icon-dark:hover {
  background-color: #009DD1 !important;
}


.topbar-icon-light{
  background-color:#009DD1
}

.topbar-icon:hover{
  box-sizing:border-box;
}

.topbar-brand {
  max-width:11.4rem;
  min-width:11.4rem;
  margin: 0 0.8rem;  
}

.topbar-menu {
  flex-direction: row;
  place-content:flex-end;
  height: 2rem;
  margin-top: -0.3em;
  margin-left: -0.9em;
}

.topbar-menu-item {
  margin: 0 0.3em;
  white-space: nowrap;
  font-size:1.1em;
  margin-bottom: -0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.topbar-chop {
  justify-content:center;
  max-width:19.1em;
  min-width:15.9em;
  margin-left: 1.2em;
}

.topbar-chop-button {
  width: 283px;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-family:"Avenir Next Regular";
  white-space:nowrap;
  padding-top: 6px;
  border-width: medium;
  vertial-align: text-top;
  font-weight: 600;
}

.topbar-button-dark {
  color: white;
  border-color: white;
  border-radius: 27px;
  text-transform: uppercase;
}

.topbar-button-light {
  color: #009DD1;
  border-color: #009DD1;
  border-radius: 27px;
  text-transform: uppercase;
}

.topbar-chop-button:focus {
  background-color:#009DD1 !important;
  color:white;
  border-color:#009DD1;
}

.topbar-chop-button:hover {
  background-color:#009DD1 !important;
  color:white;
  border-color:#009DD1;
}

.btn-topbar-icon {
  border:none;
  border-radius: 0;
  height: 1.5rem;
  width: auto;  
}


.theme-icon-dark {
  background-color: white !important;
}

.theme-icon-light {
  background-color: #009DD1 !important;
}

.btn-topbar-brand {
  background-color: white;
  border:none;
  border-radius: 0;
  height: 2.4rem;
  width: 11.9rem;  
}

.btn-topbar-brand-focus {
  background-color: white;
  border:none;
  border-radius: 0;
  height: 2.2rem;
  width: 10.9rem;  
}

.btn-topbar-menu-dark {
  background-color:transparent;
  color:white;
  font-weight: bold
}

.btn-topbar-menu-dark:hover{
  color:#009DD1;
}

.btn-topbar-menu-light {
  background-color:transparent;
  color:#009DD1;
  font-weight: bold
}

.btn-topbar-icon:hover{
  background-color:grey;
}

.btn-topbar-menu:hover{
  color:grey;
}

.btn-topbar-brand:hover{
  background-color:grey;  
}

.btn-topbar-brand-focus:hover{
  background-color:grey;  
}

.btn-topbar-icon:focus{
  background-color:grey;
}

.btn-topbar-menu:focus{
  box-shadow: 0 0 0 0.2em grey;
}

.btn-topbar-brand-focus:focus{
  background-color:grey;  
}

@media (max-width:1199px) { 
  .topbar-menu-item {
    margin: 0.2em 0.2em;
    font-size:0.9em;
  }
  
  .topbar-chop {
    max-width:15.6em;
    min-width:14.6em;
    margin-left: 0em;
  }
  
  .topbar-chop-button {
    width: 242px;
    padding-top:8px;
    font-size: 0.9em;
  }
}

@media (max-width:991px) {
  .topbar-chop-button {
    width: 234px;
  }
  
  .topbar-chop {
    margin-right: 0.2em;
  }
}

@media (max-width:830px) {
  .topbar-chop-button {
    width: 226px;
  }
  .topbar-chop {
    margin-right: 0em;
  }
}
