/* Header TopBar component styles */

.topbar {
  padding: 1.2rem 1.2rem;
  background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));  
  z-index:10;
}

@media (max-width:575px) {
  .topbar-chop {
    display:none !important;
  }
  .topbar-menu {
    display:none !important;
  }
  .topbar-icon {
    display:none !important;
  }
  .topbar-brand {
    display:flex !important;
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0 0 !important;
    place-content: center;
  }
  .btn-topbar-brand {
    margin: 0 auto;
  }
}

.topbar-icon {
  max-width:2rem;
  min-width:2rem;
  margin-bottom:0.15rem;
  margin-left:0.3rem;
}

.topbar-icon:hover{
  box-sizing:border-box;
}

.topbar-brand {
  max-width:11.4rem;
  min-width:11.4rem;
  margin: 0 0.8rem;  
}

.topbar-menu {
  flex-direction: row;
  place-content:flex-end;
  height: 2rem;
  margin-top: -0.3em;
  margin-left: -0.9em;
}

.topbar-menu-item {
  margin: 0 0.3em;
  white-space: nowrap;
  font-size:0.9em;
  margin-bottom: -0.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.topbar-chop {
  justify-content:center;
  max-width:14.9em;
  min-width:14.9em;
  margin: 0 0;  
}

.topbar-chop-button {
  width: 229px;
  letter-spacing: 0.1em;
  font-size: 0.9em;
  font-family:"Avenir Next Regular";
  font-weight:700;
  white-space:nowrap;
}

.btn-topbar-icon {
  background-color: white;
  border:none;
  border-radius: 0;
  height: 1.5rem;
  width: auto;  
}

.btn-topbar-brand {
  background-color: white;
  border:none;
  border-radius: 0;
  height: 2.2rem;
  width: 10.9rem;  
}

.btn-topbar-brand-focus {
  background-color: white;
  border:none;
  border-radius: 0;
  height: 2.2rem;
  width: 10.9rem;  
}


.btn-topbar-menu {
  background-color:transparent;
  color:white;
  font-weight: bold
}

.btn-topbar-icon:hover{
  background-color:grey;
}

.btn-topbar-menu:hover{
  color:grey;
}

.btn-topbar-brand:hover{
  background-color:grey;  
}

.btn-topbar-brand-focus:hover{
  background-color:grey;  
}

.btn-topbar-icon:focus{
  background-color:grey;
}

.btn-topbar-menu:focus{
  box-shadow: 0 0 0 0.2em grey;
}

.btn-topbar-brand-focus:focus{
  background-color:grey;  
}

.topbar-chop-button:focus {
  background-color:#009DD1 !important;
  color:white;
}

.topbar-chop-button:hover {
  background-color:#009DD1 !important;
  color:white;
}