/* Header TopBar component styles */

.topbar {
  margin-top:-7px;
  margin-bottom:-7px;
}

@media (max-width:575px) {
  .topbar {
    margin-top:-11px;
    margin-bottom:0px;
    padding-bottom:12px;
  }
}

.topbar-icon {
  background: url('/icons/icon-144x144.png') transparent 5px 50% no-repeat;
  background-size: 30px 30px;
  display: inline-block;
  vertical-align: middle;
  width: 58px;
  height: 30px;
}

.topbar-brand {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  margin-left:-20px;
  font-size: 1.5em;
  font-weight: 400;
  color: #14A7E0 !important;
  font-family: 'Lato', sans-serif;
}

.topbar-btn {
  display:flex;
  justify-content:center;
  align-item:center;
  margin:0 auto;
  border-radius:40px;
}
