.message-tile-section {
  margin-bottom: 2em;
}

.message-tile-image {
  border-radius: 0.8em;
  box-shadow: 0px 3px 6px #00000029;
  margin-left:1em;
  width:calc(100% - 1.9em); 
}

.message-tile-text-overlay {
  position: absolute;
  bottom: 1.5em;
  left: 2.4em;
}

.message-tile-btn-overlay {
  position: absolute;
  bottom: -22px;
  left: 1.5em;
  background: #009DD1;
}

.message-tile-title {
  color: #fff;
  position: relative;
}

.message-tile-series {
  color: #fff;
  position: relative;

  text-transform: uppercase;
}

.message-tile-series a {
  color: #fff;
  font-weight: 600;
  text-decoration:underline;
}

.message-tile-series a:hover {
  color: #757575;
  text-decoration:underline;
}

@media (max-width:991px) {
  .message-tile-image {
    height: 371px;
    max-width: 660px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width:575px) {
  .message-tile-section {
    margin-top:1em;
    margin-bottom: 7.4em;
  }
  
  .message-tile-image {
    height: calc(90vw - 1.9em);
  }
  
  .message-tile-text-overlay {
    top: 86vw;
    left: 1em;
  }
 
  .message-tile-btn-overlay {
    bottom: 12px;
    left: 1.5em;
    background: #009DD1;
  }
  
  .message-tile-title {
    color: #0099CC;
  }
  
  .message-tile-series {
    color: inherit; 
  }
  
  .message-tile-series a {
    color: inherit;
  }  
}
