.home-tile {
  margin-top:1.5em;  
  margin-bottom: 1.5em;
}

.home-tile-image {
  border-radius: 1em;
  box-shadow: 0px 3px 6px #00000029;
}

.home-tile-caption {
  margin-top: 0.5em;
}

.home-tile-description {
  margin-top: -0.9em;
  font-family: "Avenir Next Italic";
  color: #0099CC;  
}

.home-tile a:hover {
  text-decoration:none;
  filter: brightness(0.75);
}