.home-tile {
  margin-top:12px;  
}

.home-tile-image {
  border-radius: 0.8em;
  box-shadow: 0px 3px 6px #00000029;
}

.home-tile-caption {
  color:#009DD1;
  font-family: "Avenir Next Bold";
  font-size: 1.4em;
  margin-top: 0.5em;
}

.home-tile-description {
  color:#009DD1;
  font-family: "Avenir Next Italic";
  font-size: 1.2em;
  margin-top: -0.9em;
}

.home-tile-btn{
  background: #757575;
  border-radius: 1.5em;
  color: white;
  padding: 4px 15px;
  text-transform: uppercase;
  margin-top: -1em;
  font-size: 0.8em;
}

@media (max-width:991px) {
  .home-tile-caption {
    font-size: 2vw;
  }
  
  .home-tile-description {
    font-size: 1.5vw;
  }
  
  .home-tile-btn {
    font-size: 1.2vw;
  }
}

@media (max-width:767px) {
  .home-tile-caption {
    font-size: 2.5vw;
  }
  
  .home-tile-description {
    font-size: 2vw;
  }
  
  .home-tile-btn {
    font-size: 1.6vw;
  }
}

@media (max-width:575px) {
  .home-tile-caption {
    font-size: 3.6vw;
  }
  
  .home-tile-description {
    font-size: 3.1vw;
  }
  
  .home-tile-btn {
    font-size: 2.1vw;
    margin-top: -2.6em;
  }
}

@media (max-width:334px) {
  .home-tile-caption {
    font-size: 4.2vw;
  }

  .home-tile-description {
    font-size: 3.8vw;
  }
  
  .home-tile-btn {
    font-size: 2.8vw;
  }
}