.homepage-hero-container {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -108px;
  position:relative;
  top:-80px;
  height: fit-content;
  width: fit-content;
  overflow:hidden;  
}

.homepage-hero-image {
  padding-right: 0px;
  padding-left:0px;

  height: 100vh;
  min-height: 750px;
  width: 102vw;
  border-width: 0px;
}

.homepage-hero-image-crop {
  height: 98%;
  object-position:0% 50%;
  object-fit:cover;
}

.homepage-hero-image.loaded {
  transform: scaleX(1) scaleY(1);
  filter: brightness(1);
}

.homepage-hero-text-block {
  position: absolute;
  width: 60%;
  top: 24%;
  left: 20%;
}

.homepage-hero-tag {
  text-align:center;
  color: white;
  margin-bottom: 0.8em;
  opacity: 0;
  font-family: "Avenir Next Bold";
  font-size: 2.5em;
  line-height: 1.3em;
  letter-spacing: 0.01em;  
}


.homepage-hero-text {
  color: white;
  text-align: center;
  margin-bottom: 2.6em;
  opacity: 0;
}

.homepage-hero-cta {
  text-align: center;  
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-35px;
}

.homepage-hero-btn {
  margin: 12px 18px;
  background-color: rgba(0,0,0,0.2);
  color:#FFF;
  width: 280px;
  border: 2px solid white;  
  font-size: 1em;
}

.homepage-hero-btn:hover {
 /*background-color: rgba(255,255,255,0.3);*/
}

.homepage-hero-btn-arrow {
  margin-top: -1px;
}
.homepage-hero-tag.loaded {
  opacity: 1;
}

.homepage-hero-text.loaded {
  opacity: 1;
}

.homepage-hero-cta.loaded {
  opacity: 1;
}

.homepage-hero-button {
  width: fit-content;
  border-radius: 2em;
  font-size: 0.7em;
  font-family: "Avenir Next Demi";
  padding-left:1.1em;
  padding-right:1.1em;
  text-transform:uppercase;
  background-color:#009DD1;
}

.homepage-hero-button:hover {
  border-color:#009DD1;
  background-color:#ebfaff;
  color:#009DD1;
}

.homepage-hero-button:focus {
  border-color:#009DD1;
  background-color:#ebfaff;
  color:#009DD1;
}

.homepage-hero-button:active {
  border-color:#009DD1 !important;
  background-color:#ebfaff !important;
  color:#009DD1 !important;
}

@media (max-width:1199px) {
  .homepage-hero-container {
    top:-76px;
    
  }
  .homepage-hero-text-block {
    width: 74%;
    left: 13%;
  }
  
  .homepage-hero-image-crop {
    height: 98.5%;
  }
}

@media (max-width:991px) {
  .homepage-hero-text-block {
    width: 90%;
    left: 3%;
  }
}

@media (max-width:767px) {
  .homepage-hero-text-block {
    width: 90%;
    top: 15%;
    left: 4%;
  }
  
  .homepage-hero-cta {
    flex-direction: column;
  }
}

@media (max-width:575px) {
  .homepage-hero-text-block {
    width: 80%;
    top: 15%;
    left: 7.5%;
    }
  
  .homepage-hero-btn {
    font-size: 0.9em;
    width: 250px;
  }
}
