.homepage-hero-container {
  margin-left: -0.9em;
  margin-right: -0.9em;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: -73px;
  
  position:relative;
  top:-73px;
  height: fit-content;
  width: fit-content;
  overflow:hidden;  
}

.homepage-hero-image {
  padding-right: 0px;
  padding-left:0px;

  height: 100vh;
  min-height: 750px;
  width:100vw;

  transition: transform 2.5s ease-in-out;
  transform: scaleX(1.8) scaleY(1.8) translateX(-40%) translateY(22%);
}

.homepage-hero-image-crop {
  height: 150vmax;
  width: 145vmax;
  object-position:center;
  object-fit:cover;
}

.homepage-hero-image.loaded {
  transform: scaleX(1) scaleY(1);
  filter: brightness(0.6);
}

.homepage-hero-text-block {
  position: absolute;
  width: 36%;
  top: 24%;
  left: 32%;
}

.homepage-hero-tag {
  text-align:center;
  color: white;
  margin-bottom: 0.8em;
  
  transition:opacity 1.2s ease-in;
  transition-delay: 2s;
  opacity: 0;
}


.homepage-hero-text {
  color: white;
  text-align: center;
  margin-bottom: 2.6em;
  
  transition:opacity 1.2s ease-in;
  transition-delay: 3s;
  opacity: 0;
}

.homepage-hero-cta {
  text-align: center;
  
  transition:opacity 1.2s ease-in;
  transition-delay: 4s;
  opacity: 0;  
}

.homepage-hero-tag.loaded {
  opacity: 1;
}

.homepage-hero-text.loaded {
  opacity: 1;
}

.homepage-hero-cta.loaded {
  opacity: 1;
}

.homepage-hero-button {
  width: fit-content;
  border-radius: 2em;
  font-size: 0.7em;
  font-family: "Avenir Next Demi";
  padding-left:1.1em;
  padding-right:1.1em;
  text-transform:uppercase;
  background-color:#009DD1;
}

.homepage-hero-button:hover {
  border-color:#009DD1;
  background-color:#ebfaff;
  color:#009DD1;
}

.homepage-hero-button:focus {
  border-color:#009DD1;
  background-color:#ebfaff;
  color:#009DD1;
}

.homepage-hero-button:active {
  border-color:#009DD1 !important;
  background-color:#ebfaff !important;
  color:#009DD1 !important;
}

@media (max-width:1199px) {
  .homepage-hero-text-block {
    width: 50%;
    top: 28%;
    left: 25%;
  }
  
  .homepage-hero-image {
    transform: scaleX(1.8) scaleY(1.8) translateX(-70%) translateY(19.5%);
  }
  
  .homepage-hero-image-crop {
    height: 130vmax;
    width: 120vmax;
  }
}

@media (max-width:991px) {
  .homepage-hero-text-block {
    width: 60%;
    top: 22%;
    left: 20%;
  }
  
  .homepage-hero-image {
    transform: scaleX(1.8) scaleY(1.8) translateX(-57%) translateY(19.5%);
    min-height: 630px;
  }
  
  .homepage-hero-image-crop {
    height: 169vh;
    width: 140vw;
  }
}

@media (max-width:767px) {
  .homepage-hero-text-block {
    width: 64%;
    top: 20%;
    left: 18%;
  }
  
  .homepage-hero-image {
    transform: scaleX(1.7) scaleY(1.7) translateX(-63%) translateY(19.5%);
    min-height: 440px;
  }
  
  .homepage-hero-image-crop {
    height: 120vh;
    width: 150vw;
  }
}

@media (max-width:575px) {
  .homepage-hero-text-block {
    width: 80%;
    top: 15%;
    left: 10%;
    }
  
  .homepage-hero-image {
    transform: scaleX(1.7) scaleY(1.7) translateX(-60%) translateY(19.5%);
    height: calc(100vh - 50px);
    width:100vw;
    min-height: 380px;
  }
  
  .homepage-hero-image-crop {
    height: 120vh;
    width: 140vw;
  }
  
}

@media (max-width:334px) {

}
