.homepage-hero-container {
  margin-left: -0.9em;
  margin-right: -0.9em;
  padding-left: 0;
  padding-right: 0;

  position:relative;
  top:-73px;
  height: 56.25vw;
  width: 100vw;
  overflow:hidden;  
}

.homepage-hero-image {
  padding-right: 0px;
  padding-left:0px;
  
  transition: all 2.5s ease-in-out;
  transform: scaleX(1.8) scaleY(1.8) translateX(-13%) translateY(21%);
}

.homepage-hero-image.loaded {
  transform: scaleX(1) scaleY(1);
  filter: brightness(0.6);
}

.homepage-hero-tag {
  position: absolute;
  top: 6em;
  color: white;
  text-align: center;
  font-family: "Avenir Next Bold";
  
  transition:opacity 1.5s ease-in;
  transition-delay: 2s;
  opacity: 0;
  
  left: 25%;
  width: 26%;
  margin-left: -13%;
  font-size: 2vw;
  margin-top: -1em;
}

.homepage-hero-tag.loaded {
  opacity: 1;
}

.homepage-hero-text {
  position: absolute;
  top: 9em;
  color: white;
  text-align: center;
  font-family: "Avenir Next Regular";
  
  transition:opacity 1.5s ease-in;
  transition-delay: 3s;
  opacity: 0;
  
  left: 25%;
  width: 40%;
  margin-left: -20%;
  font-size: 1.5vw;
  margin-top: 2em;
}

.homepage-hero-text.loaded {
  opacity: 1;
}

.homepage-hero-cta {
  position: absolute;
  top: 20em;
  color: white;
  text-align: center;
  font-family: "Avenir Next Regular";
  
  transition:opacity 1.5s ease-in;
  transition-delay: 4s;
  opacity: 0;
  
  left: 25%;
  width: 40%;
  margin-left: -20%;
  font-size: 2vw;
  margin-top: -5.5em;
}

.homepage-hero-cta.loaded {
  opacity: 1;
}

.homepage-hero-button {
  width: 17em;
  border-radius: 2em;
  font-size: 0.7em;
  font-family: "Avenir Next Demi";
  padding-left:1.1em;
  padding-right:1.1em;
  text-transform:uppercase;
  background-color:#009DD1;
}

.homepage-hero-button:hover {
  border-color:#009DD1;
  background-color:#ebfaff;
  color:#009DD1;
}

.homepage-hero-button:focus {
  border-color:#009DD1;
  background-color:#ebfaff;
  color:#009DD1;
}

.homepage-hero-button:active {
  border-color:#009DD1 !important;
  background-color:#ebfaff !important;
  color:#009DD1 !important;
}

@media (max-width:991px) {
  .homepage-hero-container {
    height: fit-content;
  }
  
  .homepage-hero-tag {
    left: 33%;
    width: 40%;
    margin-left:-20%;
    font-size:3vw;
    margin-top: -2.8em;
  }

  .homepage-hero-text {
    left: 33%;
    width: 54%;
    margin-left: -27%;
    font-size: 2.0vw;
    margin-top: 0.5em;
  }
  
  .homepage-hero-cta {
    left: 33%;
    width: 40%;
    margin-left: -20%;
    font-size: 2vw;
    margin-top: -2.5em;
  }
}

@media (max-width:575px) {
  .homepage-hero-tag {
    left: 50%;
    width: 76%;
    margin-left:-38%;
    font-size:3.5vw;
    margin-top: -1em;
  }
  
  .homepage-hero-text {
    left: 50%;
    width: 70%;
    margin-left: -35%;
    font-size: 3vw;
    margin-top: -1.1em;
  }
  
  .homepage-hero-cta {
    left: 50%;
    width: 50%;
    margin-left: -25%;
    font-size: 3vw;
    margin-top: -2.5em;
  }
}

@media (max-width:334px) {
  .homepage-hero-text {
    left: 50%;
    width: 76%;
    margin-left: -38%;
  }
}
