/* Global styles */
.loader-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 300px) {
  html, body {
    min-width: 300px;
  }
}

/* Font sytles */

@font-face{
    font-family:"Avenir Next Regular";
    src:url("./Fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("./Fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Italic";
    src:url("./Fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),url("./Fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Demi";
    src:url("./Fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),url("./Fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Bold";
    src:url("./Fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("./Fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Bold Italic";
    src:url("./Fonts/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2") format("woff2"),url("./Fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff");
}

.font-h1 {
  font-family: "Avenir Next Bold";
  font-size: 2.5em;
  color: #0099CC;
  line-height: 1.3em;
}

.font-h2 {
  font-family: "Avenir Next Bold";
  font-size: 1.5em;
  color: #0099CC;
  line-height: 1.3em;
  letter-spacing:0.02em;
}

.font-h3 {
  font-family: "Avenir Next Regular";
  font-weight: 400 !important;
  font-size: 1.13em;
  color: #565656;
  letter-spacing:0.02em;  
}

.font-h3 a {
  font-weight: 400;
}

.font-section-header {
  font-family: "Avenir Next Bold";
  text-transform:uppercase;
  font-size: 1.5em;
  color: #565656;
  line-height: 1.3em;
  margin-bottom: 1em;
  letter-spacing: 0.1em;    
}

.font-large {
  font-family: "Avenir Next Regular";
  font-size: 1.5em;
  color: #464646;
}

.font-regular {
  font-family: "Avenir Next Regular";
  font-size: 1.13em;
  color: #464646;
}

.font-link {
  font-family: "Avenir Next Demi";
  font-size: 1.13em;
  color: #0099CC;
  letter-spacing: 0.1em;
}

.font-link:hover {
  color: #0099CC;
  text-decoration:underline;
}

.font-btn {
  font-family: "Avenir Next Regular";
  background: #898989;
  border-radius: 1.5em;
  color: white;
  padding: 6px 15px;
  text-transform: uppercase;
  margin-top: -1em;
  font-size: 0.81em;
  letter-spacing:0.1em;
}

.font-btn-large {
  font-family: "Avenir Next Regular";
  background: #898989;
  border-radius: 1.5em;
  color: white;
  padding: 8px 18px;
  text-transform: uppercase;
  margin-top: -1em;
  font-size: 1.13em;
  letter-spacing:0.1em;
}

.blue-btn {
  background: #0099CC !important;
}

@media (max-width:991px) { 
  .font-h1 {
    font-size:1.9em;
  }
}

@media (max-width:767px) { 
  .font-h1 {
    font-size:1.6em;
  }
  
  .font-h2 {
    font-size:1.35em;
  }
  
  .font-h3 {
    font-size:1.08em;
  }
  
  .font-section-header {
    font-size: 1.13em;
  }
  
  .font-large {
    font-size: 1.13em;
  }

  .font-regular {
    font-size: 1em;
  }  
}

@media (max-width:575px) {
  .font-h1 {
    font-size:1.5em;
  }
  
  .font-h2 {
    font-size:1.13em;
  }
  
  .font-h3 {
    font-size:1.0em;
  }

  .font-section-header {
    font-size:0.9em;
  }
  
  .font-btn {
    font-size:0.75em;
  }
  
  .font-btn-large {
    font-size:0.9em;
  }
}

@media (max-width:334px) {
  .font-h1 {
    font-size:1.2em;
  }  
  
  .font-h2 {
    font-size:1.05em;
  }
  
  .font-h3 {
    font-size:0.9em;
  }
  
  .font-large {
    font-size: 1em !important;
  }
  
  .font-regular {
    font-size: 0.9em !important;
  }
  
  .font-link {
    font-size: 0.9em !important;
  }
}



html,body {
  font-family:"Avenir Next Regular", "Avenir Next Italic", "Avenir Next Demi", "Avenir Next Bold","Avenir Next Bold Italic";
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  margin-left:-10px;
}

.navbar-toggler {
 font-size: 0.75rem !important;
 margin-top:12px;
}

.btn-outline-primary {
  color: #14a7e0;
  border-color: #14a7e0;
  text-transform: uppercase;
}

.btn-outline-primary:hover {
  background-color: #14a7e0;
}

.btn-outline-white {
  color: white;
  border-color: white;
  border-radius: 27px;
  text-transform: uppercase;
}

.btn-outline-white:hover {
  background-color: grey;
}

.screen-reader-only {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.fullwidth-section {
  padding-top:3.5em;
  padding-bottom:3.5em;
  margin-left: -15px;
  margin-right: -15px;  
}

@media (max-width:575px) {
  .fullwidth-section{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  } 
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

.rounded {
  border-radius: 0.8em !important;
  box-shadow: 0px 3px 6px #00000029;
}