/* Global styles */


@media screen and (max-width: 300px) {
  html, body {
    min-width: 300px;
  }
}


@font-face{
    font-family:"Avenir Next Regular";
    src:url("./Fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("./Fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Italic";
    src:url("./Fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),url("./Fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Demi";
    src:url("./Fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),url("./Fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Bold";
    src:url("./Fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),url("./Fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff");
}
@font-face{
    font-family:"Avenir Next Bold Italic";
    src:url("./Fonts/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2") format("woff2"),url("./Fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff");
}

html,body {
  font-family:"Avenir Next Regular", "Avenir Next Italic", "Avenir Next Demi", "Avenir Next Bold","Avenir Next Bold Italic";
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 0;
  padding-right: 0;
}

.navbar-brand {
  margin-left:-10px;
}

.navbar-toggler {
 font-size: 0.75rem !important;
 margin-top:12px;
}

.btn-outline-primary {
  color: #14a7e0;
  border-color: #14a7e0;
  text-transform: uppercase;
}

.btn-outline-primary:hover {
  background-color: #14a7e0;
}

.btn-outline-white {
  color: white;
  border-color: white;
  border-radius: 27px;
  text-transform: uppercase;
}

.btn-outline-white:hover {
  background-color: grey;
}

.screen-reader-only {
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.fullwidth-section {
  padding-top:2.5em;
  padding-bottom:2.5em;
  margin-left: -15px;
  margin-right: -15px;  
}

@media (max-width:575px) {
  .fullwidth-section{
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  } 
}

.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}