/* Image Style - Filled-Hero */
.hero-image-container-filled-hero {
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  position:relative;
  overflow:hidden;
  margin-bottom: -265px;
  top:-104px;  
}

.hero-image-filled-hero {
  padding-right: 0px;
  padding-left:0px;
  max-height: 900px;
  min-height: 400px;
  overflow:hidden;
  object-fit:cover;
  object-position:center;
}

.hero-image-text-area-filled-hero {
  position: relative;
  display:block;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  padding-top:35px;
  padding-bottom: 25px;
  margin-bottom: -60px;
}

/* Image Style - Filled */
.hero-image-container-filled {
  margin-left: -0.9em;
  padding-left: 0;
  padding-right: 0;
  width: 100vw;
  position:relative;
  overflow:hidden;
}

.hero-image-filled {
  padding-right: 0px;
  padding-left:0px;
  max-height: 900px;
  min-height: 400px;
  overflow:hidden;
  object-fit:cover;
  object-position:center;
}

.hero-image-text-area-filled {
  position: relative;
  display:block;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  padding-top:35px;
  padding-bottom: 25px;
  margin-bottom: -60px;
}

.hero-image-cta {
  display: inline-grid;  
}

/* Image Style - Fixed */
.hero-image-container-fixed {
  
}

.hero-image-fixed {
  display:block;
  border-radius: 0.8em; 
  box-shadow: 0px 3px 6px #00000029;
  margin-top:0px;
  max-width:1120px;
  margin-left:auto;
  margin-right:auto;  
}

.hero-image-text-area-fixed {
  position: relative;
  display:block;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  padding-top:35px;
  padding-bottom: 25px;
  max-width:1120px;
  margin-left:auto;
  margin-right:auto; 
  border-radius: 0 0 0.8em 0.8em; 
  margin-bottom: 75px;
}


/* All Styles shared */
.hero-image-title {
  font-family: "Avenir Next Bold";
  color: #FFF;
  line-height: 1.3em;
}

.hero-image-text {
  font-family: "Avenir Next Regular";
  font-weight: 400 !important;
  color: #FFF;
  letter-spacing:0.02em;
  width: 767px;
  margin-right:auto;
  margin-left:auto;
}

@media (max-width:991px) { 
  .hero-image-text-area {
    bottom: 150px;
  }
  .hero-image-title {

  }
  /* .hero-image-container-filled {
    margin-bottom: -205px;  
  } */
}

@media (max-width:767px) { 
  .hero-image-text-area {
    bottom: 125px;
  }
  .hero-image-text {
    width: 575px;
  }
/*  .hero-image-container-filled {
    margin-bottom: -180px;  
  } */
}

@media (max-width:575px) { 
  .hero-image-title {

  } 
  .hero-image-text {

    width: 90%;
    margin-left:5%;
  }  
/*  .hero-image-container-filled {
    margin-bottom: -163px;  
  } */
}

@media (max-width:481px) {
/*  .hero-image-container-filled {
    margin-bottom: -191px;  
  } */
}
@media (max-width:334px) {
  .hero-image-title {

  }

}
