.heading-section {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.heading-h1 {
  font-size:3.1em;
}

.heading-left {
  text-align:left;
}

.heading-center {
  text-align:left;
}

.heading-right {
  text-align:left;
}

@media (max-width:991px) { 
  .heading-h1 {
    font-size:2.8em;
  }
}

@media (max-width:575px) {
  .heading-h1 {
    font-size:2.25em;
  } 
}