.message-info-section {
  background-color: #313131;
  padding-top:1em;
  padding-bottom:2em;
}

.message-title {
  font-size: 2em;
  letter-spacing: 0.01em !important;  
}

.message-speaker {
  text-transform: uppercase;
  color: #C7C7C7;
  display: inline;
  font-family: "Avenir Next Demi";
  letter-spacing: 0.1em;
  margin-right:12px;
  font-size: 1.13em;
}

.message-date {
  margin-bottom:2px;
  text-transform: uppercase;
  color: #C7C7C7;
  display:inline;
  vertical-align:inherit;
  letter-spacing: 0.1em;
  white-space: nowrap;
  font-size: 1.13em;
}

.message-hr {
  border-color: #707070;  
}

.message-description {
  color:#C7C7C7;
}
  
.message-tag-cloud {
  display:block
}
.message-tag {
  margin-left:12px;
  white-space: nowrap;
}

.message-tag-icon {
  background-color: #009DD1;
  width: 1.5em;
  height: 1.0em;
  display: inline-block;
  vertical-align: text-top;
}

.message-tag-text {
  color: #009DD1;
}

.message-scripture {
  margin-top:5px;
  margin-bottom: 22px;
}

.message-scripture-header {
  display:inline;
  color:#C7C7C7;
}

.message-scripture-text {
  display:inline;
  color:#C7C7C7;
}

.message-action {
  background: #009DD1;
  width: 48px;
  height: 48px;
  border-radius: 7em;
  margin-left:20px;
}

.message-action-icon {
  background: #FFF;
  height: 22px;
  width: 42px;
  margin-top: 8px;
}

.message-action-text {
  color: #009DD1;
  font-family: "Avenir Next Demi";
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  left: -14px;
  width: 66px;
  position: relative;
}

.message-action:hover{
  filter: brightness(75%);
}

.message-social {
  margin-left:20px;
  margin-right:20px;
}

.message-social-padding {
  place-content: center; 
}

.message-social-icon {
  background: #009DD1;
  height: 48px;
  width: 48px;
  margin-top: 8px;
}

.message-social:hover {
  filter: brightness(75%);
}