.component-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.component-row {
  display:inline-flex;
}

.component-row-touch {
  display:flex;
}

.no-scroll-bar {
  overflow-x:scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.no-scroll-bar::-webkit-scrollbar {
  display:none;
}

.caret {
  width: 20px;
  position: relative;
  bottom:70px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  color: #797979; 
  margin-bottom:-53.75px;
}

.caret-right {
  float:right;
  right:30px;
}
.caret-left {
  float:right;
  right:60px;
  margin-left:-50px;
}

@media (max-width:575px) {
  .caret {
    bottom: 58px;
  }
}