.header {
  margin-left:-15px;
  margin-right:-15px;
}

.burger-icon {
  -webkit-mask-image: url('./svg/burger.svg');
  -webkit-mask-size: 100% 100%;
  mask-image: url('./svg/burger.svg');
}

.magnifier-icon {
  -webkit-mask-image: url('./svg/magnifier.svg');
  -webkit-mask-size: 100% 100%;
  mask-image: url('./svg/magnifier.svg');
}

.liquid-logo {
  -webkit-mask-image: url('./svg/logo.svg');
  -webkit-mask-size: 101% 101%;
  mask-image: url('./svg/logo.svg');
}

.new-here-icon {
  -webkit-mask-image: url('./svg/new-here.svg');
  -webkit-mask-size: 101% 101%;
  mask-image: url('./svg/new-here.svg');
}

.locations-icon {
  -webkit-mask-image: url('./svg/locations.svg');
  -webkit-mask-size: 101% 101%;
  mask-image: url('./svg/locations.svg');
}

.chop-icon {
  -webkit-mask-image: url('./svg/chop-icon.svg');
  -webkit-mask-size: 101% 101%;
  mask-image: url('./svg/chop-icon.svg');
}

.give-icon {
  -webkit-mask-image: url('./svg/give.svg');
  -webkit-mask-size: 101% 101%;
  mask-image: url('./svg/give.svg');
}

.messages-icon {
  -webkit-mask-image: url('./svg/messages.svg');
  -webkit-mask-size: 101% 101%;
  mask-image: url('./svg/messages.svg');
}
