.carousel {
  width: 1140px;
  margin-left: -30px;
}

.carousel-image {
  border-radius: 1em;
  box-shadow: 0px 3px 6px #00000029;    
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.carousel-control-image {
  transition: opacity 0.3s;
  border-radius: 8px;
}

.carousel-control-image:hover {
  opacity:1;
}

.greyed {
  opacity:0.6;
  
}
.carousel-control-button {
  padding: 18px 6px;
  background:none;
  border:none;
}

.carousel-control {
  display: flex;
}

.carousel-control-hidden {
  display: none;
}

@media (max-width:1199px) { 
  .carousel {
    max-width: 960px;
    margin-left: -30px;
  }
  
  .carousel-image {
    width: 960px;
  }
}


@media (max-width:991px) { 
  .carousel {
    width: 720px;
    margin-left: -30px;
  }
  
  .carousel-image {
    width: 720px;
  }
}

@media (max-width:767px) { 
  .carousel {
    width: 540px;
    margin-left: -30px;
  }
  .carousel-image {
    width: 540px;
  }
}

@media (max-width:575px) { 
  .carousel {
    width: 100%;
    margin-left: auto;
  }
  .carousel-image {
    width: 100%;
  }
}