

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
  
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border:none;
}
 
.bm-search-button{
  height: 35px;
  width: 270px;
  position: relative;
  left: -10px;
  top: -3px;
  background-color: transparent;
  border: none;
  font-size: 0.7em;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  padding: 4px;
  padding-right: 10px;
}

.bm-search-button:hover{
  filter:brightness(0);
}

.bm-search-button:focus{
  border: 1 solid #565656;
  border-radius: 12px;
}

.bm-search-text {
  font-size: 1.3em;
  padding-left: 5px;
  padding-right: 180px;
  color: #565656;
  vertical-align: middle;
  font-family:"Avenir Next Regular";
  border-bottom: 1px solid #565656;
}

.bm-search-icon {
  margin-left: -25px;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left:0;
}

@media (min-width:350px) {
  .bm-menu-wrap {
    width: 350px !important;
  }
}
/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border-radius: 0px 11px 11px 0px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000007D;
}
 
.bm-hr {
  margin-top: 1.2em;
  margin-bottom:-0.7em;
  margin-right:-2.6em;
  margin-left:-0.7em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}
 
/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}
 
/* Individual item */
.bm-maincat {
  margin-left: -0.7em !important;
  display:grid;
  margin-top:-2.4em;
  line-height:2.1em;
}

.bm-item {
  display: inline-block;
  margin-left:-1em;
  line-height:2em;
}

.bm-icon {
  background-color: grey;
  width: 1.4em;
  height: 1.1em;
  display: inline-block;
  vertical-align: middle;
}
 
.bm-text {
  font-size: 1.3em;
  color: #007EA8;
  padding-left: 0.9em;
  vertical-align: middle;
  font-family:"Avenir Next Bold";
}

.bm-subcat {
  margin-left: -1.5em !important;
  margin-right: -3.5em !important;
  margin-bottom: 2em !important;
  max-height: 1035px;
  flex-direction: column;
}

.bm-subcat-block {
  height: fit-content;
  flex-basis: auto;
  margin-bottom: -0.6em;
}

.bm-subcat-header {
  font-size: 0.8em;
  font-family:"Avenir Next Bold";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight:900;
  color:grey;
  margin-bottom: 1.2em;
  margin-top:2em;
  line-height:1.4em;
}

.bm-subcat-list {
  margin-left:-40px;
  list-style-type: none;
}

.bm-subcat-list-item {
  margin-bottom:0.8em;
}

.bm-subcat-item {
  display: block;
  font-size:1em;
  color: #007EA8;
  line-height: 1.4em;
}

.bm-bottom-padding {
  height: 30px;
}
@media (max-width:349px) {
  .bm-icon {
    width: 1.3em !important;
    height: 1em !important;
  }
  
  .bm-text {
    font-size:0.9em !important;
  }
  
  .bm-subcat-header {
    font-size: 0.7em !important;
    letter-spacing: 0.05em !important;
  }
  
  .bm-subcat-item {
    font-size: 0.8em !important;
  }
}

/* Styling of overlay */    
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item:focus {
  outline-style:none;
  color:#003647;
  background-color:#e5f9ff;
}

.bm-subcat-item:focus {
  outline-style:none;
  color:#003647;
  background-color:#e5f9ff;
}

.bm-cross-button:focus{
  outline-style:none;
  color:#003647;
  background-color:#e5f9ff;
  box-shadow:none;
}

.bm-cross-button:hover{
  outline-style:none;
  color:#003647;
  background-color:#EBEBEB;
  box-shadow:none;
}