.search-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
  
.search-panel {
    display: flex;
}

.searchbox {
    margin-bottom: 2rem;
}
  
.search-pagination {
    margin: 2rem auto;
    text-align: center;
}

.ais-Pagination-list {
    list-style: none;
    min-width: 200px;
    display: inline;
}

.hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: .5em;
}

.ais-Hits-item {
  background:blue;
}