@media (max-width:334px) {
  .footer-copyright-padding {
    margin-left:-15px !important;
  }
  .footer-menu-padding {
    margin-left:-13px !important;
  }
  .footer-social-padding {
    margin-left:23px !important;
  }
  .footer-menu-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

@media (max-width:575px) {
  .footer-copyright-padding {
    margin-left:auto;
    margin-right:auto;
    /* max-width:275px !important; */
    /* min-width:275px !important; */
    padding-top:0em !important;
    padding-left: 15px;
    padding-right: 0;
  }
  
  .footer-menu-padding {
    margin-left:auto !important;
    margin-right:auto;
    max-width:260px !important;
  }
  
  .footer-social-padding {
    margin-left:auto;
    margin-right:auto;
    padding-right: 15px;
    max-width:220px !important;
  }
  
  .footer-font {
    font-size: 0.7em !important;
  }
  
}

@media (max-width:991px) {
  .footer-menu-padding {
    place-content:center !important;
  }
  
    .footer-menu-item {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.footer-copyright-padding {
  padding-top:0.6em;
  margin-bottom: 6em; 
 
}

.footer-menu-padding {
   place-content:flex-start;
}

.footer-social-padding {
  /* place-content:flex-end; */
    margin-left:auto;
    margin-right:auto;
    padding-right: 15px;
    max-width:220px !important;
}

.footer-font {
  font-size: 0.9em;
  font-weight: 800;
  white-space: nowrap;
  padding-left:0.1em !important;
  padding-right:0.1em !important;
  color: #007EA8;
}

.footer-font a {
  color: #007EA8;
}

.footer-font:hover {
  text-decoration:underline;
}

.social-icon {
  background-color: #949494;
  height: 2em;
  width: 2.5em;
}

.social-icon:focus {
  background-color:black;
}

.social-icon:hover {
  background-color:black;
}
