.media-cards {
  padding-top:0px
}

.media-cards-row::-webkit-scrollbar {
  display:none;
}

.card-img-top {
  border-radius: 1em 1em 0 0;
}

.media-card {
  min-width: 265.5px;
  max-width: 265.5px;
  
  margin: 6px 6px;
  border-radius: 1em;
  box-shadow: 0px 3px 6px #00000029;
}

.media-card:hover {
  border-color: #686868 !important;
}

.media-card-link:hover {
  text-decoration:none;
}

.media-card-title {
  white-space: normal;
  min-height: 115px;
  max-height: 300px;
}

.media-card-series {
  background-color:#DEDEDE;
  white-space: break-spaces;
}

.media-card-attribution {
  background-color:#F2ECEC;
  height:64px;
}

.media-card-profile-image {
  height: 50px;
  width: 50px;
  position:relative;
  display:inline-block;
  bottom: 13px;
  left: -9px;
}

.media-card-attribution-info {
  display: inline-block;
}
.media-card-name {
  position: relative;
  font-size: 0.9em;
  font-weight: 600;
  margin-top:-5px;
}

.media-card-icon {
  position: relative;
  display: inline-block;  
  width: 15px;
  height: 14px;
  background-color: #757575;
}

.media-card-date {
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  left: 7px;
  bottom: 3px;
}

.media-card-wrap {
  display: flex;
  flex-flow: wrap;
}

.card>.list-group:last-child .list-group-item:last-child{
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.list-group-flush .list-group-item {
  border-width: 0 !important;
}

@media (max-width:1199px) { 
  .media-card-wrap {
    padding-left:48px;
  }
}

@media (max-width:991px) { 
  .media-card-wrap {
    padding-left:65px;
  }
}

@media (max-width:767px) {
  .media-card-wrap {
    padding-left:113px;
  }
}

@media (max-width:575px) {
  .media-card-wrap {
    padding-left:calc(calc(100vw - 322px)/2);
  }
}
