.media-cards {
  padding-top:0px
}

.media-cards-row::-webkit-scrollbar {
  display:none;
}

.card-img-top {
  border-radius: 1em 1em 0 0;
}

.media-card {
  min-width: 265.5px;
  max-width: 265.5px;
  
  margin: 6px 6px;
  border-radius: 1em;
  box-shadow: 0px 3px 6px #00000029;
}

.media-card-title {
  padding: 12px;
  white-space: normal;
  min-height: 114px;
}

.media-card-wrap {
  display: flex;
  flex-flow: wrap;
}

@media (max-width:1199px) { 
  .media-card-wrap {
    padding-left:48px;
  }
}

@media (max-width:991px) { 
  .media-card-wrap {
    padding-left:65px;
  }
}

@media (max-width:767px) {
  .media-card-wrap {
    padding-left:113px;
  }
}

@media (max-width:575px) {
  .media-card-wrap {
    padding-left:calc(calc(100vw - 322px)/2);
  }
}
