@media (max-width:575px) {
  .footer-liquid-app {
    margin-left:auto;
    margin-right:auto;
    max-width:16.4em !important;
  }
  .footer-to-top {
    display:none;
  }
}

.footer-liquid-app {
  padding-top:1.5em;
  padding-bottom:1.2em;
  padding-left: 1em;
  max-width: 100%;
}

.footer-to-top {
  padding-top:1.2em;
  padding-bottom:1.2em;
}

.liquid-app-download {
  position: relative;
  left: 3.8em;
  height: 2.5em;
  font-weight:600;
  color: #757575;
  line-height: normal;
  vertical-align:top;
}

.liquid-app-download:hover{
  color: #757575;
  filter: brightness(0.7);
}

.liquid-app-icon {
  display: inline-flex;
  height: 3.3em;
  width: 2.9em;
  margin-left:-3.7em;
  background-color: #009DD1;
}


.liquid-app-text {
  display: inline-flex;
  margin-left: 8px;
  margin-right:-8px;
  margin-top:8px;
  vertical-align: top;
}

.liquid-app-text:hover {
  text-decoration:underline;
}

.liquid-app-arrow {
  display: inline-flex;
  position: relative;
  bottom: 22px;
  left:12px;
}


.scroll-to-top {
  position: absolute;
  right: 1em;
  height: 3.0em;
  width: 4.8em;
  bottom:2.27em;
  background-color: #009DD1;
  border:none;
}

.to-top-icon {
  transition: bottom 0.3s ease-in-out;
  background-color:#009DD1;
  fill-opacity:0;
}
.to-top-icon:hover {
  filter: brightness(0.7);
}

.to-top-icon:focus {
  filter: brightness(0.7);
}