@media (max-width:575px) {
  .footer-liquid-app {
    margin-left:auto;
    margin-right:auto;
    max-width:16.4em !important;
  }
  .footer-to-top {
    display:none;
  }
}

.footer-liquid-app {
  padding-top:1.5em;
  padding-bottom:1.2em;
  padding-left: 1em;
  max-width: 100%;
}

.footer-to-top {
  padding-top:1.2em;
  padding-bottom:1.2em;
}

.liquid-app {
  position: absolute;
  height: 2.9em;
  width: 2.9em;
  margin-bottom:0.15em;
  margin-left:0.3em;
  background-color: #009DD1;
}

.liquid-app-text {
  position: relative;
  left: 3.8em;
  height: 2.5em;
  font-weight:600;
  color: #757575;
  line-height: normal;
}

.scroll-to-top {
  position: absolute;
  right: 1em;
  height: 3.9em;
  width: 4.8em;
  bottom:1.35em;
  background-color: #009DD1;
  border:none;
}

.to-top:hover {
  background-color: #00455c;
}

.to-top:focus {
  background-color: #00455c;
}