.cta-text {
  background: transparent !important;
  color: #009DD1;
  font-family: "Avenir Next Demi";
  letter-spacing: 0.08em;  
}

.cta-text.short {
  margin-bottom: 0.5em;
}

.cta-text.tall {
  margin-bottom: 0.9em;
}

.cta-button {
  border: none;
  padding: 8px 20px;
  font-family: "Avenir Next Regular";
  letter-spacing:0.1em;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  margin: 0.1em;
  border-radius: 50px;
  font-size: 0.8em;
}

.cta-button.left {
  align-self: flex-start;
}

.cta-button.right {
  align-self: flex-end;
}

.cta-button.button-left {
  align-self: flex-start;
}

.cta-button.button-right {
  align-self: flex-end;
}

@media (max-width:767px) {
  .cta-button.left {
    margin-right: auto;
    margin-left: auto;
  }
  .cta-button.right {
    margin-right: auto;
    margin-left: auto;
  }  
}

.cta-button.center {
  margin-right:auto;
  margin-left:auto;
}

.cta-button.button-center {
  margin-right:auto;
  margin-left:auto;
}

.cta-label {
  display: inline;
  margin-right: 0px;
}

.cta-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: -9px;
  margin-right: 8px;
  margin-top: -2px;
  margin-bottom: -2px;
  background-color: #009DD1;
}

.cta-arrow {
  display: block;
}

.cta-button.short {
  margin-bottom: 0.5em;
}

.cta-button.tall {
  margin-bottom: 1.0em;
}
