.message-title {
  font-size: 2em;
  letter-spacing: 0.01em !important;  
}

.message-subtitle {
  margin-top: -10px
}

.message-speaker {
  text-transform: uppercase;
  color: #C7C7C7;
  display: inline;
  font-family: "Avenir Next Demi";
  letter-spacing: 0.1em;
  margin-right: 8px;
  font-size: 1.13em;
}

.message-date {
  text-transform: uppercase;
  color: #C7C7C7;
  display:inline;
  vertical-align:inherit;
  letter-spacing: 0.1em;
  white-space: nowrap;
  font-size: 1.13em;
  margin-left:12px;
}

@media (max-width:767px) {
  .message-date {
    margin-top:-2px;
  }
}
